<h1>Listing Grades</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for grade <- @grades do %>
    <tr>
      <td><%= grade.score %></td>

      <td>
        <%= link "Show", to: Routes.staff_grade_path(@conn, :show, grade) %>
        <%= link "Edit", to: Routes.staff_grade_path(@conn, :edit, grade) %>
        <%= link "Delete", to: Routes.staff_grade_path(@conn, :delete, grade), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Grade", to: Routes.staff_grade_path(@conn, :new) %></span>
