<h1>New Grade</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.staff_sub_grade_path(@conn, :create, @sub)) %>

<span><%= link "Back", to: Routes.staff_sub_grade_path(@conn, :index, @sub) %></span>
