<h1>Show Grade</h1>

<ul>

  <li>
    <strong>Score:</strong>
    <%= @grade.score %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.staff_grade_path(@conn, :edit, @grade) %></span>
<span><%= link "Back", to: Routes.staff_grade_path(@conn, :index) %></span>
