<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :desc %>
  <%= textarea f, :desc %>
  <%= error_tag f, :desc %>

  <%= label f, :due %>
  <%= datetime_select f, :due %>
  <%= error_tag f, :due %>

  <%= label f, :weight %>
  <%= number_input f, :weight, step: "any" %>
  <%= error_tag f, :weight %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
