<h1>Show Assignment</h1>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @assignment.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @assignment.desc %>
  </li>

  <li>
    <strong>Due:</strong>
    <%= @assignment.due %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @assignment.weight %>
  </li>
</ul>

<h2>Submissions</h2>

<table class="table table-striped">
  <thead>
    <td>Date</td>
    <%= for gr <- @assignment.graders do %>
      <td><%= gr.name %></td>
    <% end %>
    <td>Score</td>
  </thead>
  <tbody>
    <%= for sub <- @assignment.subs do %>

    <% end %>
  </tbody>
</table>
