<h1>Show Assignment</h1>

<%= if is_staff?(@current_reg, @current_user) do %>
  <p>
    <%= link("Staff View",
      to: Routes.staff_assignment_path(@conn, :show, @assignment)) %>
  </p>
<% end %>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @assignment.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @assignment.desc %>
  </li>

  <li>
    <strong>Due:</strong>
    <%= @assignment.due %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @assignment.weight %>
  </li>
</ul>

<h2>Submissions</h2>

<p>
  <%= link "New Submission", to: Routes.assignment_sub_path(@conn, :new, @assignment) %>
</p>

<table class="table table-striped">
  <thead>
    <td>Active</td>
    <td>Date</td>
    <%= for gdr <- @assignment.graders do %>
      <td><%= gdr.name %></td>
    <% end %>
    <td>Total Score</td>
    <td>Actions</td>
  </thead>
  <tbody>
    <%= for sub <- @subs do %>
      <tr>
        <td style="text-align: center"><%= if sub.active, do: "✓" %></td>
        <td><%= sub.inserted_at %></td>
        <%= for gdr <- @assignment.graders do %>
          <% grade = Enum.find(sub.grades, &(&1.grader_id == gdr.id)) %>
          <td><%= if grade do grade.score else "∅" end %> / <%= gdr.points %></td>
        <% end %>
        <td><%= sub.score || "∅" %> / <%= assignment_total_points(@assignment) %></td>
        <td><%= link "View", to: Routes.sub_path(@conn, :show, sub) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
