<h1>Show Course</h1>

<p>
  <%= link "Edit", to: Routes.admin_course_path(@conn, :edit, @course) %> |
  <%= link "Back", to: Routes.admin_course_path(@conn, :index) %>
</p>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>

  <li>
    <strong>Start date:</strong>
    <%= @course.start_date %>
  </li>


</ul>

