<h1>Edit Reg</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.reg_path(@conn, :update, @reg)) %>

<span><%= link "Back", to: Routes.course_reg_path(@conn, :index, @reg.course_id) %></span>
