<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :is_student %>
  <%= checkbox f, :is_student %>
  <%= error_tag f, :is_student %>

  <%= label f, :is_prof %>
  <%= checkbox f, :is_prof %>
  <%= error_tag f, :is_prof %>

  <%= label f, :is_staff %>
  <%= checkbox f, :is_staff %>
  <%= error_tag f, :is_staff %>

  <%= label f, :is_grader %>
  <%= checkbox f, :is_grader %>
  <%= error_tag f, :is_grader %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
