<h1>Show Bucket</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @bucket.name %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @bucket.weight %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.bucket_path(@conn, :edit, @bucket) %></span>
<span><%= link "Back", to: Routes.course_bucket_path(@conn, :index, @bucket.course_id) %></span>
