<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :kind %>
    <%= select f, :kind, Inkfish.Grades.GradeColumn.grade_column_types(), class: "form-control" %>
    <%= error_tag f, :kind %>
  </div>

  <div class="form-group">
    <%= label f, :points %>
    <%= number_input f, :points, step: "any", class: "form-control" %>
    <%= error_tag f, :points %>
  </div>

  <div class="form-group">
    <%= label f, :base %>
    <%= number_input f, :base, step: "any", class: "form-control" %>
    <%= error_tag f, :base %>
  </div>

  <div class="form-group">
    <%= label f, :params %>
    <%= text_input f, :params, class: "form-control" %>
    <%= error_tag f, :params %>
  </div>

  <div class="form-group">
    <%= label f, :upload_id %>
    <%= text_input f, :upload_id, class: "form-control", readonly: "readonly" %>
    <%= error_tag f, :upload_id %>
    <%= ajax_upload_field "grade_column", "", "grade_column_upload_id" %>
  </div>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
