<div class="row">
  <div class="col">
    <h1>Log In</h1>
    <%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>
      <div class="form-group">
        <%= label f, :login %>
        <%= text_input f, :login, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= label f, :password %>
        <%= password_input f, :password, class: "form-control" %>
      </div>
      
      <%= submit "Log In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
