<h1>Listing Uploads</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for upload <- @uploads do %>
    <tr>
      <td><%= upload.name %></td>
      <td><%= upload.kind %></td>
      <td><%= user_display_name(upload.user) %></td>

      <td>
        <%= link "Show", to: Routes.admin_upload_path(@conn, :show, upload) %>
        <%= link "Edit", to: Routes.admin_upload_path(@conn, :edit, upload) %>
        <%= link "Delete", to: Routes.admin_upload_path(@conn, :delete, upload), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

