<h1>Listing Uploads</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for upload <- @uploads do %>
    <tr>
      <td><%= link(upload.name,
          to: Routes.upload_path(@conn, :download, upload.id, upload.name)) %></td>
      <td><%= upload.kind %></td>
      <td><%= user_display_name(upload.user) %></td>
    </tr>
<% end %>
  </tbody>
</table>

