<h1>Show Upload</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @upload.name %>
  </li>

  <li>
    <strong>Nonce:</strong>
    <%= @upload.nonce %>
  </li>

  <li>
    <strong>Kind:</strong>
    <%= @upload.kind %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_upload_path(@conn, :edit, @upload) %></span>
<span><%= link "Back", to: Routes.admin_upload_path(@conn, :index) %></span>
