<h1>Edit User Profile</h1>

<p>
  <%= link "Show Profile", to: Routes.user_path(@conn, :show, @user) %>
</p>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

