<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= page_title(@conn) %> · Inkfish  Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png"
          href="<%= Routes.static_path(@conn,"/images/inkfish.png") %>"/>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-2">
            <%= link(img_tag(Routes.static_path(@conn, "/images/inkfish.png")),
                     to: Routes.page_path(@conn, :index)) %>
          </div>
          <div class="col-md-5">
            <%= if @current_user && @current_user.is_admin do %>
              admin/courses |
              admin/users
            <% else %>
              nav
            <% end %>
          </div>
          <div class="col-md-5">
            <%= if @current_user do %>
              User: <%= @current_user.email %> |
              <%= link("Logout", to: Routes.session_path(@conn, :delete),
                       method: :delete) %>
            <% else %>
              <p>no session</p>
            <% end %>
          </div>
          <h1><%= page_title(@conn) %></h1>
        </div>
      </header>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
