<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :login %>
    <%= text_input f, :login, class: "form-control" %>
    <%= error_tag f, :login %>
  </div>

  <div class="form-group">
    <%= label f, :email %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :given_name %>
    <%= text_input f, :given_name, class: "form-control" %>
    <%= error_tag f, :given_name %>
  </div>

  <div class="form-group">
    <%= label f, :surname %>
    <%= text_input f, :surname, class: "form-control" %>
    <%= error_tag f, :surname %>
  </div>

  <div class="form-group">
    <%= label f, :nickname %>
    <%= text_input f, :nickname, class: "form-control" %>
    <%= error_tag f, :nickname %>
  </div>

  <div class="form-group">
    <%= label f, :is_admin %>
    <%= checkbox f, :is_admin, class: "form-control" %>
    <%= error_tag f, :is_admin %>
  </div>
  
  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
