<h1>Listing Subs</h1>

<table>
  <thead>
    <tr>
      <th>Active</th>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for sub <- @subs do %>
    <tr>
      <td><%= sub.active %></td>
      <td><%= sub.score %></td>

      <td>
        <%= link "Show", to: Routes.staff_sub_path(@conn, :show, sub) %>
        <%= link "Edit", to: Routes.staff_sub_path(@conn, :edit, sub) %>
        <%= link "Delete", to: Routes.staff_sub_path(@conn, :delete, sub), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Sub", to: Routes.staff_sub_path(@conn, :new) %></span>
