[Unit]
Description=Inkfish

[Service]
Type=simple
User=inkfish
Group=inkfish
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4080"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/inkfish/inkfish
ExecStart=bash /home/inkfish/inkfish/scripts/start.sh

[Install]
WantedBy=multi-user.target
