<h1>New Submission</h1>

<p>Course: <%= @course.name %></p>
<p>Assignment: <%= @assignment.name %></p>
<p>Submitting for: <%= show_team(@team) %></p>

<%= form_for @changeset, Routes.assignment_sub_path(@conn, :create, @assignment), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :hours_spent %>
    <%= number_input f, :hours_spent, class: "form-control" %>
    <%= error_tag f, :hours_spent %>
  </div>

  <div class="form-group">
    <%= label f, :note %>
    <%= textarea f, :note, class: "form-control" %>
    <%= error_tag f, :note %>
  </div>

  <div class="form-group sub-upload-group">
    <%= label f, :upload_id %>
    <%= text_input f, :upload_id, class: "form-control", readonly: "readonly" %>
    <%= error_tag f, :upload_id %>
    <p>Max upload size is 5MB, larger uploads will fail.</p>

    <div id="upload-root"
         data-upload-field="sub_upload_id"
         data-nonce="<%= @nonce %>"
         data-token="<%= @token %>"
         data-allow-git="<%= @assignment.allow_git %>"
         data-allow-upload="<%= @assignment.allow_upload %>">
      React component loading...
    </div>
  </div>

    <div>
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>
