<h1>Show Sub</h1>

<%= if is_staff?(@current_reg, @current_user) do %>
  <p>
    <%= link("Staff View",
      to: Routes.staff_sub_path(@conn, :show, @sub)) %>
  </p>
<% end %>

<ul>
  <li>
    <strong>Team:</strong>
    <%= show_team(@sub.team) %>
  </li>

  <li>
    <strong>Submitter:</strong>
    <%= user_display_name(@sub.reg.user) %>
  </li>

  <li>
    <strong>Timestamp:</strong>
    <%= @sub.inserted_at %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @sub.active %>
  </li>

  <li>
    <strong>Hours Spent:</strong>
    <%= @sub.hours_spent %>
  </li>

  <li>
    <strong>Upload:</strong>
    <%= link(@sub.upload.name,
      to: Routes.upload_path(@conn, :download, @sub.upload, @sub.upload.name)) %>
    (<%= link "View Files", to: Routes.sub_path(@conn, :files, @sub) %>)
  </li>
</ul>

<p><strong>Student Note:</strong></p>

<p><%= sanitize_markdown(@sub.note) %></p>

<h2>Grades</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <%= for grade_column <- @assignment.grade_columns do %>
    <% grade = Enum.find(@sub.grades, &(&1.grade_column_id == grade_column.id)) %>
    <tr>
      <td>
        <%= if grade && !grade_hidden?(@conn, @assignment) do %>
          <%= if grade_column.kind == "feedback" do %>
            <%= link grade_column.name, to: Routes.grade_path(@conn, :show, grade.id) %>
          <% else %>
            <%= grade_column.name %>
          <% end %>
        <% else %>
          <%= grade_column.name %>
        <% end %>
      </td>
      <td><%= show_score(@conn, grade) %> / <%= grade_column.points %></td>
    </tr>
  <% end %>
  <tr>
    <td>Late Penalty</td>
    <td>
      <%= if @sub.ignore_late_penalty do %>
        (ignored)
      <% else %>
        <%= show_score(@sub.late_penalty) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Total Score</td>
    <td><%= show_score(@conn, @sub) %> / <%= assignment_total_points(@assignment) %></td>
  </tr>
</table>

<%= unless Enum.empty?(@autogrades) do %>
  <h2>Grading Script Output</h2>
  <%= Enum.map @autogrades, fn {grade, token, log} -> %>
    <h3><%= grade.grade_column.name %></h3>
    <%= if log do %>
      <p><strong>Sandbox Exit Status</strong></p>
      <pre><%= log["status"] %></pre>
      <p><strong>Test Output</strong></p>
      <pre><%= log["result"] %></pre>
      <p><strong>Full Log</strong></p>
      <pre><%= render_autograde_log(log["log"]) %></pre>
    <% else %>
      <div class="autograde-log"
           data-topic="<%= "autograde:" <> grade.log_uuid %>"
           data-token="<%= token %>">
        <!-- React component in js/autograde.jsx -->
        [react]
      </div>
    <% end %>
  <% end %>
<% end %>
