<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :kind %>
  <%= text_input f, :kind %>
  <%= error_tag f, :kind %>

  <%= label f, :weight %>
  <%= number_input f, :weight, step: "any" %>
  <%= error_tag f, :weight %>

  <%= label f, :points %>
  <%= number_input f, :points, step: "any" %>
  <%= error_tag f, :points %>

  <%= label f, :params %>
  <%= text_input f, :params %>
  <%= error_tag f, :params %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
