<h1>Listing Courses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
<%= for course <- @courses do %>
  <% reg = Enum.find(@regs, &(&1.course_id == course.id)) %>
    <tr>
      <td>
        <%= if reg do %>
          <%= link course.name, to: Routes.course_path(@conn, :show, course) %>
          <%= if is_staff?(reg, reg.user) do %>
            (<%= link "Staff View", to: Routes.staff_course_path(@conn, :show, course) %>)
          <% end %>
        <% else %>
          <%= course.name %>
        <% end %>
      </td>
      <td><%= course.start_date %></td>
      <td>
        <%= if reg do %>
          <%= show_reg_role(reg) %>
        <% else %>
          <% req = Enum.find(@reqs, &(&1.course_id == course.id)) %>
          <%= if req do %>
            Waiting for approval
          <% else %>
            <%= link("Request to Join",
              to: Routes.course_join_req_path(@conn, :new, course.id)) %>
          <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
