<h1>Show Grade Column</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @grade_column.name %>
  </li>

  <li>
    <strong>Kind:</strong>
    <%= @grade_column.kind %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @grade_column.weight %>
  </li>

  <li>
    <strong>Points:</strong>
    <%= @grade_column.points %>
  </li>

  <li>
    <strong>Params:</strong>
    <%= @grade_column.params %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.grade_column_path(@conn, :edit, @grade_column) %></span>
<span><%= link "Back", to: Routes.grade_column_path(@conn, :index) %></span>
